<footer class="bs-docs-footer" role="contentinfo">
	<div class="container">
		<ul class="bs-docs-footer-links">
			<li><a href="https://github.com/OpenDashboards/apache-shindig" target="_blank">GitHub</a></li>
			<li><a href="https://twitter.com/getbootstrap" target="_blank">Twitter</a></li>
		</ul>
		<p>
		Powered by the <a href="https://github.com/OpenDashboards" target="_blank">OpenDashboards</a> community.
		Originally ported by <a href="https://twitter.com/chefArchitect" target="_blank">@chefArchitect</a>
		</p>
	</div>
</footer>
