<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	{% include head-project.html %}
</head>

<body id="page-top" class='bs-docs-home'>

	{% include nav-docs.html %} {% if page.landing %}
	<main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
		<div class="container">

			<img data-src="holder.js/140x140" class="img-responsive" alt="140x140" src="/assets/images/logos/shindig.png" data-holder-rendered="true">
			<p class="lead">{{page.headline}}</p>
			<p class="lead">
				<a href="/docs/getting-started/installation" class="btn btn-outline-inverse btn-lg">Get Started</a>
			</p>

		</div>
	</main>

	{{content}} {% else %}

	<div class="bs-docs-header" id="content" tabindex="-1">
		<div class="container">
			<h1>{{page.headline}}</h1>
			<p>{{page.description}}</p>
		</div>
	</div>

	<div class='container bs-docs-container'>

		<div class='row'>

			<div class='col-md-9' role='main'>

				{{content}}

			</div>

			<div class='col-md-3' role='complementary'>

			</div>

		</div>



	</div>

	{% endif %}


	<footer class="bs-docs-footer" role="contentinfo">
		<div class="container">



		</div>
	</footer>


	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- highlightjs -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

</body>

</html>
